.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  height: 240px;
  margin: 10px;
  text-align: center;
  font-family: arial;
  overflow: auto;
  display: block;
}

.imgRes {
  object-fit: cover;
  width: 280px;
  max-height: 60%;
  z-index: -1;
  margin-left: auto;
  margin-right: auto;
}
