:root {
  --brand-color: #ffff64;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  line-height: 1.45;
}

.app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

header {
  background-color: var(--brand-color);
}

header .header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 41px;
}

.header-inner > img {
  height: 17px;
  object-fit: contain;
  image-rendering: optimizeQuality;
}

.header-search,
.header-saved {
  box-sizing: border-box;
  width: 225px;
  height: 100%;
  display: flex;
  position: relative;
}

.header-search input {
  box-sizing: border-box;
  width: 220px;
  margin: 0.3rem 0 0.3rem 0.3rem;
  padding: 0.4rem 2rem 0.3rem 0.5rem;
  background: white;
  border: 0;
  outline: 0;
  box-shadow: 0 0 3px #e9e9e9 inset;
  font-feature-settings: "ss07", "ss08", "ss11", "ss12", "ss14", "ss15", "ss16", "ss18", "ss19", "ss20", "ss21";
  font-family: 'Programme', Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.header-search input::placeholder {
  color: black;
}

.header-search input:focus::placeholder {
  color: #ccc;
}

.header-search .submit-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.submit-button img {
  width: 1.125rem;
  margin-left: 0.45rem;
  object-fit: contain;
  transform: scale(0.99);
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  color: white;
  text-transform: uppercase;
  font-size: 0.875em;
  min-height: 38px;
}

nav a {
  color: white !important;
  padding: 0 1rem;
  text-decoration: none;
  transition: color 0.2s;
}

nav a:hover {
  color: var(--brand-color) !important;
}

main {
  margin: 0 auto; /* gray margins */
  width: 970px;
  max-width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
